<div class="footerSection py-2">
    <div class="row">
        <div class="col-sm-12 plr30">
            <div class="d-flex justify-content-between">
                <img src="/assets/imgs/logo-white.svg" height="50px" class="mr-5 footerLogo">
                <div class="d-flex justify-content-center btns">
                    <a>CGU</a>
                    <a>CGV</a>
                    <a>RGPD</a>
                    <a>Enterprise Informations</a>
                    <a>Contact</a>
                </div>
                <div class="d-flex justify-content-end pl-5 socials">
                    <div class="icon">
                        <a target="_blank" href="https://www.facebook.com/sun.spot.526">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="icon">
                        <a target="_blank" href="https://www.instagram.com/sunspot.fr/ ">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>