.footerSection {
  //position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  background: #444444 !important;
  color: white !important;

  a {
    color: white !important;
    margin: 0px 10px !important;
    cursor: pointer;
  }

  a i {
    font-size: 25px;
  }

  a,
  a:focus,
  a:hover {
    color: white !important;
  }

  .btns {
    font-size: 20px !important;

    a {
      font-weight: bold;
      min-width: 100px;
    }
  }

  .d-flex {
    align-items: center !important;
  }

  .socials {
    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.50);
      border-radius: 50%;
      margin-left: 20px;
    }
  }
}

.plr30 {
  padding-left: 32px;
}

@media screen and (max-width: 990px) and (min-width: 576px) {
  .d-flex{
    display: unset !important;
}
.footerLogo{
    margin-bottom: 20px;
}
.socials{
    display: flex !important;
}  
}

@media only screen and (max-width: 576px) {
  .plr30 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .d-flex{
      display: unset !important;
  }
  .footerLogo{
      margin-bottom: 20px;
  }
  .socials{
      display: flex !important;
  }

}
