.bodyCont {
  background: url('/assets/imgs/bg-body3.png') center center no-repeat;
  background-size: 100% 100%;

  .sectionHeight {
    height: 100vh;
  }

  .section-1 {
    padding: 200px 200px;
    display: flex;
    align-items: center;

    h1,
    p {
      color: white !important;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 30px;

      .btn {
        height: 45px;
        min-width: 250px;
      }
    }

    .btn-primary {
      width: 16vw;
      padding: 6px 0px;
      background-color: #FED12F;
      border-color: #FED12F;
      box-shadow: 0 1px 6px 0 #20212447;
      color: #ffffff;
      border-radius: 30px;
      font-size: 15px;
      font-weight: bold;
    }

    .btn-outline-primary {
      border-color: #FED12F;
      color: #FED12F;
    }
  }

  .section-2 {
    padding: 165px 200px;

    .pointsCont {
      display: flex;
      align-items: center;
      margin-bottom: 70px;
      width: 100%;

      .circle {
        width: 60px;
        height: 60px;
        min-width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        background-color: white;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.50);

        h2 {
          color: #FED12F !important;
          font-weight: bold;
        }
      }

      .description {
        h3 {
          color: white !important;
          font-weight: bold;
        }
      }
    }
  }

  .section-3 {
    padding: 100px 200px 200px 200px;

    video {
      width: 100%;
    }
  }

  .section-4 {
    padding: 100px 200px 100px 200px;

    .iconCont {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #FED12F;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.50);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto;

      .icon {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.10);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
          width: 50px;
        }
      }
    }

    .description {
      font-weight: bold;
    }
  }
}





@media screen and (max-width: 990px) and (min-width: 576px) {
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .bodyCont {
    background-size: cover;
    // height: 260vh;
  }

  .sectionHeight {
    height: unset !important;
  }

  .section-1 {
    padding: unset !important;
    height: 55vh !important;

    .font-24 {
      font-size: unset !important;
    }
  }

  .section-2 {
    // padding: 165px 50px 165px 165px !important;
    padding: unset !important;

    .pointsCont {
      padding-left: 39% !important;
    }
  }

  .section-3 {
    padding: unset !important;
  }

  .section-4 {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 576px) {
  .bodyCont {
    background-size: cover;
    // height: 260vh;
  }

  .sectionHeight {
    height: unset !important;
  }

  .section-1 {
    padding: unset !important;
    padding-top: 150px !important;

    .font-24 {
      font-size: unset !important;
    }

    .col-sm-9 {
      padding-top: 30px;

      .buttons {
        display: unset !important;
      }

      .btn {
        margin-bottom: 20px;
      }
    }
  }

  .section-2 {
    padding: unset !important;
    padding-top: 270px !important;

    .pointsCont {
      // margin-bottom: 30px !important;
      .circle{
        margin-right: 10px !important;
      }

      .description {
        h3 {
          font-size: unset !important;
        }
      }
    }
  }

  .section-3 {
    padding: unset !important;
    padding-top: 250px !important;
  }

  .section-4 {
    padding: unset !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    .p-5{
      padding: 20px 20px !important;
    }
  }
}
