<app-header-two></app-header-two>

<section class="bodyCont">
    <section class="section-1 sectionHeight">
        <div class="row justify-content-center text-center">
            <div class="col-sm-4 col-12">
                <h1 class="font-bold pb-2">SUN SPOT</h1>
                <p class="font-24 font-bold">Book in peace your day under the sun</p>
            </div>
            <div class="col-sm-9 col-12">
                <div class="buttons">
                    <button class="btn btn-primary font-bold" type="button">I'M A ClIENT</button>
                <button class="btn btn-outline-primary font-bold" type="button">I'M A PROFFESIONAL</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2 sectionHeight">
        <div class="row justify-content-end">
            <div class="col-sm-7 col-11">
                <div class="pointsCont">
                    <div class="circle">
                        <h2 class="mb-0">1</h2>
                    </div>
                    <div class="description">
                        <h3 class="mb-0">Create a SUN SPOT account</h3>
                    </div>
                </div>
                <div class="pointsCont">
                    <div class="circle">
                        <h2 class="mb-0">2</h2>
                    </div>
                    <div class="description">
                        <h3 class="mb-0">Create a SUN SPOT account Enjoy your day ! </h3>
                    </div>
                </div>
                <div class="pointsCont">
                    <div class="circle">
                        <h2 class="mb-0">3</h2>
                    </div>
                    <div class="description">
                        <h3 class="mb-0">Enjoy your day !</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3 sectionHeight">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-12">
                <video controls preload="auto" poster="/assets/imgs/video-poster.png">
                    <source src="/assets/videos/sunspot-english.mp4" type="video/mp4">
                  </video>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-12 p-5 text-center">
                <div class="iconCont">
                    <div class="icon">
                        <img src="/assets/imgs/icon-clock.svg">
                    </div>
                </div>
                <div class="description pt-3">
                    <p class="mb-0">Organize your beach day in a fast and simple way</p>
                </div>
            </div>
            <div class="col-sm-4 col-12 p-5 text-center">
                <div class="iconCont">
                    <div class="icon">
                        <img src="/assets/imgs/icon-progress.svg">
                    </div>
                </div>
                <div class="description pt-3">
                    <p class="mb-0">Be aware of the availability of deckchairs on a perimeter of 10km</p>
                </div>
            </div>
            <div class="col-sm-4 col-12 p-5 text-center">
                <div class="iconCont">
                    <div class="icon">
                        <img src="/assets/imgs/icon-settings.svg">
                    </div>
                </div>
                <div class="description pt-3">
                    <p class="mb-0">Filter the beaches according to a selection of customizable criteria</p>
                </div>
            </div>
            <div class="col-sm-4 col-12 p-5 text-center">
                <div class="iconCont">
                    <div class="icon">
                        <img src="/assets/imgs/icon-eye.svg">
                    </div>
                </div>
                <div class="description pt-3">
                    <p class="mb-0">Have visibility on all existing private beaches</p>
                </div>
            </div>
            <div class="col-sm-4 col-12 p-5 text-center">
                <div class="iconCont">
                    <div class="icon">
                        <img src="/assets/imgs/icon-chair.svg">
                    </div>
                </div>
                <div class="description pt-3">
                    <p class="mb-0">Choose the specific location of your deckchair</p>
                </div>
            </div>
        </div>
    </section>



</section>

<app-footer-two></app-footer-two>