<nav class="navbar navbar-expand-md  navbar-dark sticky-top shadow">
    <a class="navbar-brand mr-3 pointer" routerLink=""><img src="/assets/imgs/logo.svg" height="60px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav main" style="margin-left: 2em;">
            <li class="nav-item pl-3 pt-1 pointer">
                <ngxgeo-autocomplete id="locationSerach" style="width: 31vw;" [userSettings]="userSettings1"
                    [ngClass]="{ 'is-invalid': !service.userLocation.city }"
                    (componentCallback)="autoCompleteCallback1($event) ">
                </ngxgeo-autocomplete>

            </li>
            <li class="nav-item pr-3 pt-1 pointer pl-1 d-flex">

                <input [owlDateTime]="dt1" [(ngModel)]="service.selectedDate" [min]="service.todaysdate"
                    [owlDateTimeTrigger]="dt1" placeholder="dd/mm/yyyy" 
                    (dateTimeChange)="service.getSpecificDateData()" class="form-control dateBtnPicker"
                    >
                <span [owlDateTimeTrigger]="dt1" style="margin-left:-25px; padding-top:6px">
                    <i class="far fa-calendar"></i></span>
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            </li>
            <li class="nav-item pointer" style="padding-left: 2vw; position: relative;">
                <button class="btn searchBtn" (click)="service.getSpecificDateData()">
                    {{ 'common.search' | translate}}
                </button>

            </li>
        </ul>
        <ul class="navbar-nav text-center ml-auto userCont">
            <li class="nav-item pointer dropdown2">
                <button class="btn langBtn">
                    <img src="/assets/imgs/Language_Selector.svg">
                </button>

                <ul class="dropdown-menu2 px-2" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" (click)="utils.setLanguage('en') ; updateLanguage()">  {{ 'languages.eng' | translate}}</a></li>
                    <div class="dropdown-divider my-0"></div>
                    <li><a class="dropdown-item" (click)="utils.setLanguage('fr'); updateLanguage()"> {{ 'languages.frn' | translate}}</a></li>
                </ul>

            </li>

            <li class="nav-item pointer" *ngIf="!service.isLoggedIn">
                <button routerLink="/login" class="btn loggedInBtn">
                    <img src="/assets/imgs/user-icon.svg"> {{ 'login.login' | translate}}
                </button>
            </li>
            <li class="nav-item dropdown pointer" *ngIf="service.isLoggedIn">
                <a class="nav-link profileBtn dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/imgs/user-icon.svg" height="25px">{{service.userData.firstName}}
                </a>
                <ul class="dropdown-menu custDropdown" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/my-profile"> {{ 'home.myProfile' | translate}} </a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" (click)="service.logoutUser()"> {{ 'login.logout' | translate}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>