.navbar {
  padding: 0px 30px;
  background-color: #ffffff;

  .mapBtn {
    width: 31vw;
    padding: 6px 10px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #000000;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    outline: none ;
    .showIcon{
      display: block;
    }
    .hoverIcon{
      display: none;
    }
  }

  .mapBtn:hover {
    .showIcon{
      display: none;
    }
    .hoverIcon{
      display: block;
    }
  }

  .mapBtn:hover , .mapBtn:focus {
    border: none !important
  }

  .dateBtn {
    width: 16vw;
    padding: 6px 15px;
    background-color: black;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;

    img {
      height: 20px;
      padding-top: 2px;
      float: right;
    }
  }

  .searchBtn {
    width: 16vw;
    padding: 9px 0px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 #20212447;
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
  }

  .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
  }

  .dropdown-toggle::after {

    position: absolute;
    width: 10px;
    height: 14px;
    right: 15px;
    top: 50%;
    margin-top: -12px;
    font-weight: 900;
    font-family: "FontAwesome";
    content: "";
    display: unset;
    margin-left: unset;
    vertical-align: unset;
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
  }

  .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
  }

  .profileBtn {
    background-color: #FED12F;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    width: 16vw;
    padding: 12px 23px;

    img {
      float: left;
      height: 25px;
      margin-right: 15px;
    }
  }

  .custDropdown {
    min-width: 16vw;
    top: 12%;
    z-index: -1;
    border: 0px;
    border-radius: 20px 20px 30px 30px;
    padding-top: 46px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background-color: black;

    .dropdown-item {
      text-align: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
    }

    .dropdown-item:hover,
    .dropdown-item:visited,
    .dropdown-item:focus {
      background-color: transparent;
    }
  }

  .loggedInBtn {
    width: 16vw;
    padding: 9.5px 23px;
    // background-color: #FED12F;
    // border-color: #FED12F;
    // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    // color: #ffffff;

    background-color: #ffffff;
      border-color: #ffffff;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;

    img {
      float: left;
      height: 25px;
      filter: brightness(0);
    }
  }

  .langBtn{
    padding: 9px;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #FED12F;
    img{
      height: 25px;
    }
  }
  .langBtn:hover{
    color: white;
    background: #FED12F !important;
    border-color: #FED12F !important;
  }
}

@media screen and (max-width: 1190px) and (min-width: 1020px) {
  .navbar {
    .profileBtn {
      padding: 10px 15px;

      img {
        margin-right: 6px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .navbar {
    padding: 6px 8px;

    .navbar-brand {
      margin-left: 12px;
      img {
        height: 50px;
      }
    }

    .main {
      margin: 20px 20px 8px 20px !important;

      .nav-item {
        padding: 8px 0px !important;

        button {
          width: 100%;
          height: 45px;
        }
      }
    }

    .userCont {
      margin: 0px 20px 20px 20px !important; 

      button, .profileBtn {
        width: 100%;
        height: 45px;
      }
      .dropdown-toggle::after {
      top: 22px;
      }
      .custDropdown
      {
        position: absolute;
        min-width: 100%;
      }
    }
  }

  .navbar-toggler-icon {
    filter: brightness(0) !important;
  }

  .navbar-toggler:focus {
    outline: none !important;
  }
}


.modalDiv {
  .nav-link.active {
    color: white !important;
    background-color: #FED12F !important;
    border: 1px solid #FED12F !important;
    border-radius: 30px;
    // padding-left: 20px !important;
  }

  .nav-link {
    font-size: 15px;
    font-weight: bold !important;
    color: white !important;
    padding: 0px 10px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tagBtn {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  height: 48px;
  justify-content: center;
  border-radius: 30px;
  padding: 0px 15px;
  display: inline-flex;
  align-items: center;

  font-size: 12px;
  margin: 0px 12px 16px 0px;

  img {
    float: left;
    height: 29px;
    margin-right: 12px;
  }
}

.dateField{
  border: none !important; 
  width: 175px !important; 
  padding: 6px 5px !important; 
  padding-left: 30px !important;
  text-align: center !important;
}


.btn:hover {
  img{
      filter: brightness(100) !important;
  }
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-menu2 {
  display: none;
  position: absolute;
  width: 145px !important;
  //top: 48px !important;
  padding: 6px 10px;

    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background-color: black;

    .dropdown-item {
      text-align: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
      padding: 5px 8px !important;
    }

    .dropdown-item:hover,
    .dropdown-item:visited,
    .dropdown-item:focus {
      background-color: transparent;
    }

    li{
      display: contents;
    }
}

.dropdown2:hover .dropdown-menu2 {
  display: block;
}

.dateBtnPicker{
  height: 36px; 
  padding: 10px; 
  width: 125px;
  border: none !important;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}