.footerSection{
    //position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    background: #444444 !important;
    color: white !important;
    a {
        color: white !important;
        margin: 0px 10px !important;
        cursor: pointer;
    }
    a i{
        font-size: 25px;
    }

    a, a:focus, a:hover{
        color: white !important;
    }
    .btns{
        font-size: 20px !important;
    }

    .d-flex{
        align-items: center !important;
    }
}

.plr30{
    padding-left: 32px;
  }
  
@media only screen and (max-width: 576px) {  
    .plr30{
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    .btns{
        margin: 10px 5px;
    }

    .dBlock{
        display: block !important;
        text-align: center;
    }
    .links{
        padding-bottom: 10px;
    }

  }