<div class="footerSection py-2">
    <div class="row">
        <div class="col-sm-12 plr30">
            <div class="d-flex justify-content-between dBlock">
                <img src="/assets/imgs/logo-white.svg" height="50px">
                <div class="d-flex justify-content-center btns dBlock">
                    <a>CGU</a>
                    <a>CGV</a>
                    <a>RGPD</a>
                    <a>Info sur I'enterprise</a>
                    <a>{{ 'common.contact' | translate}}</a>
                </div>
                <div class="d-flex justify-content-end dBlock links">
                    <a target="_blank" href="https://www.facebook.com/sun.spot.526">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/sunspot.fr/ ">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
   
</div>