<nav class="navbar navbar-expand-md  navbar-dark fixed-top shadow header2">
    <a class="navbar-brand pointer" routerLink=""><img src="/assets/imgs/logo.svg" height="60px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav main" style="margin-left: 2em;">
            <li class="nav-item pl-3 pt-1 pointer locationCont">
                <ngxgeo-autocomplete *ngIf="showAutoComplete" id="locationSerach" style="width: 31vw;" [userSettings]="userSettings1"
                    [ngClass]="{ 'is-invalid': !service.userLocation.city }"
                    (componentCallback)="autoCompleteCallback1($event) ">
                </ngxgeo-autocomplete>
                <div class="form-group" *ngIf="!showAutoComplete">
                    <input [(ngModel)]="service.userLocation.city" class="form-control dateBtnPicker" type="text" readonly>
                </div>
                <img src="/assets/imgs/icon-location.svg" class="locationIcon">

            </li>
            <li class="nav-item pr-3 pt-1 pointer pl-1 d-flex">
                <!-- <input type="date" [min]="service.todaysdate" [(ngModel)]="service.selectedDate"
                    (ngModelChange)="service.getSpecificDateData()" class="mapBtn dateField"
                    style="width: 130px !important; padding-left: 0px !important;">
                    <i class="fas fa-calendar-alt" style="margin-left: -20px;"></i> -->


                <input [owlDateTime]="dt1" [(ngModel)]="service.selectedDate" [min]="service.todaysdate"
                    [owlDateTimeTrigger]="dt1" placeholder="dd/mm/yyyy"
                    (dateTimeChange)="service.getSpecificDateData()" class="form-control dateBtnPicker"
                    >
                <span [owlDateTimeTrigger]="dt1" style="margin-left:-25px; padding-top:6px">
                    <i class="far fa-calendar"></i></span>
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            </li>
            <li class="nav-item pointer pt-1" style="padding-left: 2vw; position: relative;">
                <button class="btn searchBtn" (click)="service.getSpecificDateData()">SEARCH</button>

            </li>
        </ul>
        <ul class="navbar-nav text-center ml-auto userCont">
            <!-- <li class="nav-item pointer dropdown2">
                <button class="btn langBtn">
                    <img src="/assets/imgs/Language_Selector.svg">
                </button>

                <ul class="dropdown-menu2 px-2" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item">ENGLISH (US)</a></li>
                    <div class="dropdown-divider my-0"></div>
                    <li><a class="dropdown-item">ENGLISH (UK)</a></li>
                    <div class="dropdown-divider my-0"></div>
                    <li><a class="dropdown-item">FRENCH</a></li>
                </ul>

            </li> -->

            <li class="nav-item pointer" *ngIf="!service.isLoggedIn">
                <button routerLink="/login" class="btn loggedInBtn">
                    <img src="/assets/imgs/user-icon.svg">
                    LOG IN
                    <i class="fas fa-caret-down"></i>
                </button>
            </li>
            <li class="nav-item dropdown pointer" *ngIf="service.isLoggedIn">
                <a class="nav-link profileBtn dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/imgs/user-icon.svg" height="25px">{{service.userData.firstName}}
                </a>
                <ul class="dropdown-menu custDropdown" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/my-profile">MY PROFILE</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" (click)="service.logoutUser()">LOGOUT</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>