.navbar {
  padding: 9px 30px;
  background-color: #ffffff;

  .mapBtn {
    width: 16vw;
    padding: 6px 10px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #000000;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
  }

  .dateBtn {
    width: 16vw;
    padding: 6px 15px;
    background-color: black;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;

    img {
      height: 20px;
      padding-top: 2px;
      float: right;
    }
  }

  .searchBtn {
    width: 16vw;
    padding: 9px 0px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
  }

  .loggedInBtn {
    width: 16vw;
    padding: 9px 23px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;

    img {
      float: left;
      height: 25px;
      margin-right: 20px;
    }
  }
}

.bgCont {
 // background: url("/assets/imgs/loginBg.png") center center no-repeat;
  //min-height: 100vh;
 // background-size: cover;
  display: grid;
  align-items: center;
  //padding-bottom: 47px;
  padding-top: 25px;

  .inputCont {

    .form-control {
      height: calc(1.5em + .85rem + 2px);
      border-radius: 30px;
      border: 0px;
      text-align: center;
      font-size: 16px;
     // font-weight: 500;
      color: #000000;
      background-color: transparent;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    }

    // input::placeholder {
    //   color: #000000;
    // }
  }

  .custBtn {
    padding: 0px;
    height: 45px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
  }

  .blackBtn {
    background-color: #000000 !important;
    border-color: #000000 !important;
    font-size: 15px;
  }

  input {
    background: white !important;
    //font-weight: 900 !important;
    color: black !important;
}
}


@media only screen and (max-width: 576px) {
  .navbar {
    padding: 6px 8px;

    .navbar-brand {
      margin-left: 12px;
      img {
        height: 50px;
      }
    }

    .main {
      margin: 20px 20px 8px 20px !important;

      .nav-item {
        padding: 8px 0px !important;

        button {
          width: 100%;
          height: 45px;
        }
      }
    }

    .userCont {
      margin: 0px 20px 20px 20px !important; 

      button {
        width: 100%;
      }
    }
  }

  .navbar-toggler-icon {
    filter: brightness(0) !important;
  }

  .navbar-toggler:focus {
    outline: none !important;
  }
}
