<app-header></app-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>

<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <video id="video" width="100%" height="100%" style="object-fit: cover;" src="/assets/imgs/videoShort3C.mp4" autoplay
        loop></video>
</div>

<div class="bgCont WhiteOverlay">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 text-center">

            <div class="row justify-content-center inputCont">
                <div class="col-sm-6 col-10">
                    <div class="form-group my-3">
                        <input type="text" placeholder="{{ 'login.mailAddress' | translate }}" class="form-control" [(ngModel)]="user.email">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" placeholder="******" class="form-control" [(ngModel)]="user.password">
                    </div>
                    <button (click)="loginAccount()" [disabled]="!user.email || !user.password"
                        class="btn custBtn btn-block mb-3">{{ 'login.login' | translate}}</button>

                    <a class="appTxt fw500 my-4" style="cursor: pointer;" routerLink='/forget-password'>
                        {{ 'login.forgotPass' | translate}} </a>
                    <h5 class="my-2 font-18">{{ 'login.or' | translate}}</h5>
                    <button routerLink="/signup" class="btn custBtn blackBtn btn-block">{{ 'login.signup' | translate}}</button>
                    <a href="https://manager.sun-spot.fr/manager">
                        <button class="btn custBtn blackBtn btn-block mt-3"> {{ 'login.loginManager' | translate}}</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>