.mainCont {
  padding: 1em 0em;

  .pl-30 {
    padding-left: 32px ;
    padding-right: 32px ;
  }

  .inputCont {

    .form-control {
      height: calc(1.5em + .85rem + 2px);
      border-radius: 30px;
      border: 0px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      background-color: transparent;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    }

    // input::placeholder {
    //   color: #000000;
    // }

    .custLabel {
      white-space: nowrap;
      margin-right: 25px;
      font-size: 16px;
      font-weight: 500;
      align-self: center;
    }
  }

  .saveBtn {
    width: 240px;
    padding: 0px;
    height: 45px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
  }
}


.bgCont {
  background: url("/assets/imgs/profileBg.png") center center no-repeat;
  min-height: 88vh;
  background-size: cover;
  display: grid;
  align-items: center;

  .placeCard {
    border: 0px;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    .scanIcon
    {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 121;
        height: 32px;
        cursor: pointer;
    }
    .placeImg {
      width: 100%;
      height: 100px;
      object-fit: cover;
      filter: brightness(0.75);
      border-radius: 20px 20px 0px 0px;
    }
  }
}


@media only screen and (max-width: 576px) {
  .pl-30 {
    padding-left: 22px !important;
    padding-right: 22px !important;
  }
}