<app-header></app-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="row">
  <div class="col-md-8 mainCont pl-30">

    <div class="row justify-content-center inputCont">
      <div class="col-sm-11 px-0">
        <h4 class="font-bold"> {{ 'home.myProfile' | translate}}</h4>

        <form [formGroup]="profileForm" class="form-div">
          <div class="row mt-3 justify-content-between">
            <div class="col-sm-6 px-2">
              <div class="d-flex justify-content-between">

                <img id="blah" class="userImg" (click)="SelectFiles.click()"
                  [src]="imgURL || '/assets/imgs/user-img.svg' "
                  style="height: 110px; min-width: 115px; cursor: pointer !important; border-radius: 50%;" />
                <!-- <button (click)="SelectFiles.click()" class="btn bgPrimary"> Upload Image </button> -->
                <input #SelectFiles class="d-none" type="file" accept="image/*" (change)="onChangeFile($event)">
                <div class="txt pt-2">
                  <div class="mb-3 ">
                    <input type="text" class="form-control" style="width: 100%;" formControlName="firstName"
                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf=" submitted && f.firstName.errors" class="red-alert pl-3">
                      {{ 'errors.firstNameError' | translate }} </div>
                  </div>
                  <div class="mb-0 ">
                    <input type="text" class="form-control" style="width: 100%; " formControlName="lastName"
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf=" submitted && f.lastName.errors" class="red-alert pl-3">
                      {{ 'errors.lastNameError' | translate }} </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pt-2 px-2">
              <div class="d-flex mb-3 justify-content-end">
                <label class="custLabel"> {{ 'login.emailAddress' | translate}}</label>
                <div>
                  <input type="text" class="form-control" formControlName="email" readonly
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf=" submitted && f.email.errors" class="red-alert pl-3">
                    <div *ngIf="f.email.errors.required">{{ 'errors.emailError' | translate }}</div>
                    <div *ngIf="f.email.errors.pattern">{{ 'errors.emailPattern' | translate }}</div>
                  </div>
                </div>

              </div>
              <div class="d-flex  justify-content-end">
                <label class="custLabel">{{ 'login.phoneNum' | translate}}</label>
                <div>
                  <input type="text" class="form-control w-100" placeholder="06 12 34 56 78" formControlName="phoneNo"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                  <div *ngIf=" submitted && f.phoneNo.errors" class="red-alert pl-3">
                    {{ 'errors.phoneError' | translate }} </div>
                </div>

              </div>
            </div>
          </div>
          <h5 class=" mt-3 mb-0 font-18 font-bold">{{ 'login.password' | translate}}</h5>
          <div class="row mt-3">
            <div class="col-sm-10 px-0">
              <div class="row justify-content-between">
                <div class="col-sm-4 px-2">
                  <div class="form-group text-center">
                    <label class="fw500">{{ 'login.cPassword' | translate}}</label>
                    <input type="password" class="form-control" placeholder="******" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf=" submitted && f.password.errors" class="red-alert pl-3">
                      {{ 'errors.passwordError' | translate }} </div>
                  </div>
                </div>
                <div class="col-sm-4 px-2">
                  <div class="form-group text-center">
                    <label class="fw500">{{ 'login.newPassword' | translate}}</label>
                    <input type="password" class="form-control" placeholder="******" formControlName="new_password"
                      [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }">
                    <div *ngIf=" submitted && f.new_password.errors" class="red-alert pl-3">
                      {{ 'errors.newPassError' | translate }} </div>
                    <div *ngIf="!checkPassword()" class="red-alert pl-3">
                      {{ 'errors.changePassMsg' | translate }} </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn saveBtn" (click)="updateProfile()">{{ 'common.save' | translate}}</button>
    </div>
  </div>
  <div class="col-md-4 bgCont px-2 ">
    <div id="resrvationListDiv" class="row justify-content-center" (scroll)="onWindowScroll($event)"
      style="overflow-y: scroll; max-height: 86vh;">
      <div class="col-md-9 col-sm-8 col-11 px-0 pb-2">

        <div *ngFor="let bookings of service.activeUserBookings; let i=index;">
          <div *ngIf="qrView==true || (!qrView && i==service.userData.nextBooking)" class="card placeCard mt-2">

            <img [src]=" bookings.beach?.beachInfo?.images[0] " class="placeImg"
              *ngIf="bookings.beach && bookings.beach.beachInfo && bookings.beach.beachInfo.images && bookings.beach.beachInfo.images.length">
            <img src="/assets/imgs/place4.png" class="placeImg"
              *ngIf="!bookings.beach || !bookings.beach.beachInfo || !bookings.beach.beachInfo.images.length">
            <div class="row justify-content-center py-4" style="border-bottom: 1px solid #FED12F;">
              <div class="col-sm-11 px-2">
                <h6 class="mb-0 font-18 font-bold">{{bookings.beach.beachName}}</h6>
                <p class="appTxt fw500">{{bookings.beach.address}}</p>
                <p class="mt-3 mb-0 appTxt font-bold"><u>{{ 'common.summary' | translate}}:</u></p>
                <p class="my-0 fw500 appTxt" *ngIf="bookings.bookedSeats && bookings.bookedSeats.length">
                  {{bookings.bookedSeats.length}} {{ 'common.seats' | translate}}</p>

                <p class="mt-1 mb-0 appTxt font-bold"><u>{{ 'payments.payment' | translate}}:</u></p>
                <p class="my-0 fw500 appTxt">
                  <span  *ngIf="bookings.paidOnSpot">{{ 'payments.paidOnSpot' | translate}}</span>
                  <span  *ngIf="!bookings.paidOnSpot">{{ 'payments.paidOnline' | translate}}</span>
                </p>

                <p class="mt-1 mb-0 fw500 appTxt"> {{ 'common.forAllDay' | translate}} <br /> {{bookings.bookingDate}}
                </p>

                <div class="filters text-center" *ngIf="bookings.beach && bookings.beach.beachInfo">

                  <img src="/assets/imgs/bar-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.bar">
                  <img src="/assets/imgs/parking-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.parking">
                  <img src="/assets/imgs/piscine-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.swimmingPool">
                  <img src="/assets/imgs/rest-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.restaurant">
                  <img src="/assets/imgs/shower-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.shower">
                  <img src="/assets/imgs/wifi-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.wifi">
                  <img src="/assets/imgs/wc-icon.svg" class="mx-1" style="height: 20px;"
                    *ngIf=" bookings.beach.beachInfo.wc">

                </div>

              </div>
            </div>
            <h6 class="text-center my-3 font-18 font-bold">{{bookings.totalCharges}}€</h6>
          </div>

        </div>

        <div class="card placeCard pointer mt-3 py-2">
          <div class="text-center" *ngIf="qrView == false" (click)="qrView=true; scrollUp()">
            <img src="/assets/imgs/clock-icon.svg">
            <h5 class="font-bold mt-2 font-18">
              {{ 'common.allReservations' | translate}}
            </h5>
          </div>

          <div class="text-center" *ngIf="qrView == true" (click)="qrView=false; scrollUp()">
            <img src="/assets/imgs/clock-icon.svg">
            <h5 class="font-bold mt-2 font-18"> {{ 'common.upcomingReservations' | translate}}</h5>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>