<app-header></app-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="row mainCont">
  <div class="col-md-3 pl-0" id="scollContentDiv2" style="padding: 1.5em 0em 0.5em 0em; height: 88.8vh !important;">
    <div class="pl-30 pb-3" style="box-shadow: 0px 12px 12px -4px rgba(0,0,0,0.2); "
      style="overflow-y: auto; max-height: 75vh;">
      <div class="d-flex pointer" routerLink="">
        <i class="fas fa-chevron-left" style="font-size: 18px;"></i>
        <h6 class="font-15 px-3">{{ 'beach.return' | translate}}</h6>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <h5 class="font-bold " > {{service.activeBeach?.beachName}}</h5>

      </div>
      <h6 class="mt-2 mb-1 font-bold">{{ 'beach.address' | translate}}</h6>
      <p class="mb-0 font-13" > {{service.activeBeach?.address}}</p>
      <h6 class="mt-2 mb-1 font-bold">{{ 'beach.weekday' | translate}}</h6>
      <p class="mb-0 font-13" *ngIf=" service.activeBeach?.beachInfo">
        {{ service.changeTimeFormat(service.activeBeach.beachInfo.weekDayMorning)}} -
        {{ service.changeTimeFormat(service.activeBeach.beachInfo.weekDayAfternoon)}}</p>
      <h6 class="mt-2 mb-1 font-bold">{{ 'beach.weekend' | translate}}</h6>
      <p class="mb-0 font-13" *ngIf=" service.activeBeach?.beachInfo">
        {{ service.changeTimeFormat(service.activeBeach.beachInfo.weekEndMorning)}} -
        {{ service.changeTimeFormat(service.activeBeach.beachInfo.weekEndAfternoon)}}</p>
      <h6 class="mt-2 mb-1 font-bold">{{ 'beach.description' | translate}}</h6>
      <p class="mb-0 font-13"
        *ngIf=" service.activeBeach?.beachInfo?.description">
        {{service.activeBeach.beachInfo.description}} </p>

      <div class="filters" *ngIf=" service.activeBeach?.beachInfo">

        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.bar">
          <img src="/assets/imgs/bar-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.parking">
          <img src="/assets/imgs/parking-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.swimmingPool">
          <img src="/assets/imgs/piscine-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.restaurant">
          <img src="/assets/imgs/rest-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.shower">
          <img src="/assets/imgs/shower-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.wifi">
          <img src="/assets/imgs/wifi-icon.svg">
        </div>
        <div class="imgCircle m-1" *ngIf=" service.activeBeach.beachInfo.wc">
          <img src="/assets/imgs/wc-icon.svg">
        </div>

      </div>
    </div>
 
    <button (click)="changeVisisbility()" *ngIf=" service.activeBeach?.seatMaps"
      class="btn seatsBtn btn-block" style="bottom: 0px;">{{ 'beach.ChooseLocation' | translate}}
      <img src="/assets/imgs/beachSeat.svg">
    </button>
    <button *ngIf=" !service.activeBeach?.seatMaps" class="btn seatsBtn btn-block">
      {{ 'beach.noSeatAvailable' | translate}}
      <img src="/assets/imgs/beachSeat.svg">
    </button>
  </div>
  <div class="col-md-9 px-0 mainDiv1" id="scollImageDiv3" style=" height: 88.8vh !important;">

    <div id="demo" class="carousel topSlider slide carousel-fade" data-ride="carousel" data-interval="4000" 
    *ngIf=" service.activeBeach?.beachInfo && service.activeBeach.beachInfo.images?.length && 
    ( !showSeats || !service.activeBeach.seatMaps)">

      <ul class="carousel-indicators mt-5">
        <li [class.active]="i==0" *ngFor="let image of service.activeBeach.beachInfo.images; index as i"
          data-target="#demo" [attr.data-slide-to]="i"></li>
      </ul>

      <div class="carousel-inner">
        <div *ngFor="let image of service.activeBeach.beachInfo.images; index as i" [class.active]="i==0"
          class="carousel-item text-center">
          <img width="100%" [style.height]="fullHeight" [src]="image">
        </div>

      </div>
      <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <img src="/assets/imgs/logo.png" class="bottomLogo" *ngIf="!showSeats || !service.activeBeach">

    <div *ngIf="showSeats == true &&  service.activeBeach?.seatMaps" class="row seatsCont"
    id="sectionSeatsId" >

      <div class="col-sm-12" style="margin-left: auto; margin-right:auto;">
    <!--   <div (click)="changeVisisbility()" class="d-flex text-white pointer">
          <i class="fas fa-chevron-left font-20" style="padding-top: 3px;"></i>
          <h5 class="my-0 pl-3">{{ 'common.return' | translate}}</h5>
        </div>-->

        <div class="mx-auto mt-1" *ngIf=" service.activeBeach.seatMaps" [style.height]="seatFullHeight" style=" overflow-y:auto;">


         
          <div class="container">
            <div class="row">

              <div class="col-3  d-flex align-items-stretch">
                
                 
                       
                        <div class="card" style="height: 95%;" >
                          <div class="card-body">
                            <h5 class="card-title" style="font-size: medium; text-align: center;">Définir par :</h5>
                         
                            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                         
                          </div>
                        </div>
                                  
                
              </div>


              
              <div class="col-5 d-flex align-items-stretch  " >
               
                       
                    <div class="card" style="height: 95%;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                       
                      </div>
                    </div>
                     
              </div>


              <div class="col-4  d-flex align-items-stretch" >
              
                       
                    <div class="card" style="height: 95%; border-radius: 25px;">
                      <div class="card-body ">

                      <div class="row">
                        <div class="row" style="text-align: center; background-color:#F3CB3F; border-radius: 50px; padding: 5px; margin: 5px;">
                        <div class="col-6">
                      

                         <span  style="text-align: center;"> <a href="#" style="color:white;" >picine</a> </span> 

                         

                      
                        </div>
                        <div class="col-6"  >
                           
  
                            <span><a href="#" style="color:white;">plage</a></span>
  
                          
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-6" style="text-align: center;">

                          <button type="button" class="btn " >
                            <img src="../../assets/imgs/seat2.png"  style="width:45%"  />
                          </button>
                      
                        </div>
                        <div class="col-6" style="text-align: center;">
                          <button type="button" class="btn " >
                          <img src="../../assets/imgs/Sunbed 1.svg"  style="width:70%"/>
                        </button>
                        </div>
                      </div>
                       
                      <div class="row">
                        <div class="col-6" style="margin-top: 5px; text-align:center;">
                          <button type="button" class="btn " >
                      <img src="../../assets/imgs/Table 2.svg"  style="width:90% 
                       "   />
                      </button>
                        </div>
                        <div class="col-6" style="text-align: center;">
                          <button type="button" class="btn " >
                          <img src="../../assets/imgs/Pool Seamless Pattern (Blue).svg" style="width:100%"   />
                          </button>

                        </div>
                      </div>

                      </div>
                    </div>
                 
              </div>




            </div>
          </div>



          <!--<pinch-zoom>-->

         <!--
           <pinch-zoom [backgroundColor]="'none'">
            <div>

              <div [id]="'mainRowDiv'+i" class="d-flex mt-1 justify-content-center "
                *ngFor="let rows of service.activeBeach.seatMaps.rows; let i=index">-->

                <!-- <button class="btn btn-primary seatScrollButtons" (click)="moveScrollBar(i, 'left')" *ngIf="checkScroll()">
              <i class="fas fa-arrow-left"></i>
            </button>  -->


      <!--     <div [id]="'rowDiv'+i" class="image-row d-flex justify-content-start">
              <div class=" mx-0" style="position: relative;" *ngFor="let column of rows.col; let j=index">

                <svg width="100%" height="100%" [style.max-height]="service.seatHeight" 
                 style="min-height: 15px !important;" viewBox="-50 -100 100 200" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" *ngIf="rows.col[j].reserved">
                  <image x="-50" y="-100" width="100%" height="80%"
                    [attr.xlink:href]="bookedImagesList[service.getSeatColor(column.color)]" />-->
                  <!-- <text x="-10" y="-80" fill="black">{{j+1}}</text> -->
             <!--    <rect x="-40" y="65" rx="15" ry="15" width="80%" height="15%" fill="white" ></rect>
                  <text x="-29" y="86" fill="red">{{ 'common.booked' | translate}}</text>
                </svg>

               <svg width="100%" height="100%" [style.max-height]="service.seatHeight" 
                style="min-height: 15px !important;" viewBox="-50 -100 100 200" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" (click)="onSelectSeat(false, i, j)" *ngIf="rows.col[j].booked">
                  <image x="-50" y="-100" width="100%" height="80%"
                    [attr.xlink:href]="chairImagesList[service.getSeatColor(column.color)]" />-->
                  <!-- <text x="-10" y="-80" fill="black">{{j+1}}</text> -->
             <!--   <rect x="-40" y="65" rx="15" ry="15" width="80%" height="15%" fill="black" ></rect>
                  <text x="-15" y="86" fill="white">{{rows.col[j].price}}€</text>
                </svg>  

                <svg width="100%" height="100%" [style.max-height]="service.seatHeight" 
                style="min-height: 15px !important;" viewBox="-50 -100 100 200" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" (click)="onSelectSeat(true, i, j)"
                  *ngIf="!rows.col[j].booked && !rows.col[j].reserved">
                  <image x="-50" y="-100" width="100%" height="80%"
                    [attr.xlink:href]="freeImagesList[service.getSeatColor(column.color)]" />-->
                  <!-- <text x="-10" y="-80" fill="black">{{j+1}}</text> -->
         <!--       <rect x="-40" y="65" rx="15" ry="15" width="80%" height="15%" fill="white" ></rect>
                  <text x="-15" y="86" fill="black">{{rows.col[j].price}}€</text>
                </svg>

              </div>
              
            </div>-->

            <!-- <button class="btn btn-primary seatScrollButtons ml-2" (click)="moveScrollBar(i, 'right')" *ngIf="checkScroll()">
          <i class="fas fa-arrow-right"></i>
        </button>  -->

    <!--   </div>

        </div>
      </pinch-zoom>


         -->


          <!--<pinch-zoom>-->


          
      




        <div class="text-center mt-1" *ngIf=" service.activeBeach?.seatMaps">
          <p class="mb-0" style="color: red !important;" *ngIf="!service.isLoggedIn"> {{ 'beach.bookingLogin' | translate}}</p>
          <!-- <button [disabled]="!service.bookedSeats.length || !service.isLoggedIn || service.totalPrice==0"
            class="btn searchBtn px-4" (click)="getServiceFee(); paymentForm.reset()" 
            data-toggle="modal" data-target="#payModal">
            Book Seats <span *ngIf="service.totalPrice>0">{{service.totalPrice }}€</span>
          </button>  -->

          <button [disabled]="!service.bookedSeats.length || service.totalPrice==0"
          class="btn searchBtn px-4" routerLink="/seat-payment" *ngIf="service.isLoggedIn">
            {{ 'beach.bookSeats' | translate}} <span *ngIf="service.totalPrice>0">{{service.totalPrice }}€</span>
        </button> 

        <button *ngIf="!service.isLoggedIn" class="btn searchBtn px-4" routerLink="/login">
          {{  'login.login' | translate}}
      </button> 

        </div>

      </div>
    </div>
  </div>
</div>

  </div>
  </div>