.mainCont {
  padding: 0em 0px 0em 0px;

  .pl-30 {
    padding-left: 32px;
    padding-right: 24px;
  }

  .wishIcon {
    cursor: pointer;
    align-self: center;
    color: #000000;
    font-size: 22px;
  }

  .filters {
    display: inline-block;
    margin-top: 10px;

    img {
      //cursor: pointer;
      height: 25px;
    }
  }

  .seatsBtn
    {
        padding: 0px 2vw;
        height: 50px;
        background-color: #FED12F;
        border-color: #FED12F;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        color: #ffffff;
        border-radius: 0px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        img
        {
            height: 40px;
        }
    }

}

.bottomLogo
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 45px;
}
.mainDiv1{
    background: url("/assets/imgs/place-detail.png") center center no-repeat;
    background-size: 100% 100% !important;
}
.seatsCont
{
  position: absolute;
  padding: 20px;
  padding-bottom: 0px;
 // background: url("/assets/imgs/place-detail.png") bottom no-repeat;
  height: 100%;
  opacity: 0.98;
}
 
.seatsPosition{
  width: 55px;
  height: 100px;
  display: inline-block;
}

.searchBtn {
  padding: 9px 0px;
  background-color: black;
  border-color: black;
  box-shadow: 0 1px 6px 0 #20212447;
  color: #FED12F;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}


.bookedSeat {
  background-color: black !important;
  color: white !important;
}

@media only screen and (max-width: 576px) {
  .pl-30 {
    padding-left: 22px !important;
    padding-right: 22px !important;
  }
  // .seatsCont
  // {
  //   top: 5px;
  //   padding: 10px;
  //   height: 500px;
  // }
}

.yellowBg{
  background-color: #FED12F ;
}

.imgCircle{
  height: 45px;
  width: 45px;
    padding-top: 10px;
    text-align: center;
    background-color: #ffffff;
    border-color: #ffffff;
    display: inline-block;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 50%;
    img{
      height: 25px;
    }

}


.seatScrollButtons{
  border-radius: 50%;
    height: 30px;
    min-width: 30px;
    margin-top: 16px;
    padding: 2px;
    background-color: white !important;
    border-color: white !important;
    color: #FED12F !important;
}


.seatNum{
  position: absolute; 
  left: 0px; 
  right: 0px; 
  text-align: center;
}




//my modif



.color_btn :hover{
  background-color: #FED12F;
}


