<app-header></app-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="row mainCont lng1">
  <div class="col-md-6 pt-4" style="background: #FED12F; color: white !important;">
    <div class="row">
      <!-- <div class="col-sm-10 mx-auto px-0 clrWhite"> -->
      <div class="col-sm-10 offset-sm-2 pl-0 clrWhite">
        <h6 class=" pointer pl-4" [routerLink]="['/place-detail',service.activeBeachId]">
          <i class="fas fa-chevron-left" style="font-size: 18px;margin-right: 15px;"></i>
          {{ 'payments.returnSeatMap' | translate}}
        </h6>
      </div>

      <!-- <div class="col-sm-10 mx-auto clrWhite"> -->
      <div class="col-sm-9 pl-0 offset-sm-3 clrWhite">

        <h5>{{ 'payments.resSummary' | translate}}</h5>
        <h5>{{service.activeBeach.beachName}}</h5>
        <h1 class="fw700">{{service.totalPrice + serviceFee || '0' | number:'1.2-2'}}€</h1>
        <div class="row mb-1" *ngFor="let seat of seatsArray ; let i=index">
          <div class="col-sm-2 px-1">
            <div class="seatBg">
              <img class="clubImg my-1 mx-1" [src]="chairImagesList[service.getSeatColor(seat.color)]"
                style="height:30px">
            </div>

          </div>
          <div class="col-sm-9">
            <div class=" d-flex justify-content-between">
              <p class="font-12 mb-0"> {{seat.count}}x {{seat.text}} <br />
                {{ 'payments.bookedFor' | translate}} <strong> {{service.selectedDate |
                  date:'mediumDate'}}</strong></p>
              <p class="font-12 mb-0 fw700">{{seat.count*seat.price || '0' | number:'1.2-2'}}€ </p>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-9">
            <div class="mt-1 d-flex justify-content-between">
              <p class="font-12 mb-0">{{ 'payments.subTotal' | translate}}: </p>
              <p class="font-12 mb-0">{{service.totalPrice || '0' | number:'1.2-2'}}€ </p>
            </div>
            <!-- <hr class="my-2">
                        <div class=" d-flex justify-content-between">
                            <p class="font-12 mb-0" style="color: #3070d0 !important;"> {{ 'payments.addPromoCode' |
                                translate}}:</p>
                        </div> -->
            <hr class="my-1">
            <div class=" mb-2 d-flex justify-content-between">
              <p class="font-12 mb-0"> {{ 'payments.serviceFee' | translate}}:</p>
              <p class="font-12 mb-0">{{serviceFee || '0' | number:'1.2-2'}}€ </p>
            </div>
            <div class=" d-flex justify-content-between">
              <p class="font-12 mb-0"> {{ 'payments.totalAmount' | translate}}:</p>
              <p class="font-12 mb-0"><strong>{{service.totalPrice + serviceFee || '0' | number:'1.2-2'}}€
                </strong> </p>
            </div>

          </div>
        </div>
        <p class="mt-3">Powered by <strong>stripe</strong></p>
      </div>
    </div>

  </div>
  <div class="col-md-6 pt-4">
    <div class="row">

      <!-- <div class="col-sm-10 mx-auto"> -->
      <div class="col-sm-8 offset-sm-1">
        <h4 class="modal-title mb-0 fw700"> {{ 'payments.payCard' | translate}}</h4>
        <div class="form-group mb-3">
          <label for="usr">E-mail:</label>
          <input class="form-control brdr5 shadowDiv" [(ngModel)]="service.userData.email" readonly>
        </div>

        <form [formGroup]="paymentForm">
          <label for="pwd">{{ 'payments.cardInfo' | translate}}</label>
          <div class="shadowDiv brdr5 mb-3">
            <div class="form-group my-0">

              <div class="input-group">
                <input type="text" class="form-control w-100 brdrTop5" (change)="invalidCardPattern()"
                  placeholder="1234 1234 1234 1234" formControlName="number"
                  [ngClass]="{ 'is-invalid': submitted && f.number.errors }">

                <div class="cardsDiv">
                  <img class="clubImg my-1 mx-1" src="/assets/imgs/CB.svg" style="height:22px">
                  <img class="clubImg my-1 mx-1" src="/assets/imgs/Visa.svg" style="height:22px">
                  <img class="clubImg my-1 mx-1" src="/assets/imgs/AmericanExpress.svg" style="height:22px">
                  <img class="clubImg my-1 ml-1 mr-2" src="/assets/imgs/Mastercard.svg" style="height:22px">
                </div>
              </div>
            </div>

            <div class="row form-group my-0">
              <div class="col-3 px-0">
                <input type="number" [(ngModel)]="card.exp_month" class="form-control cardInput1 brdrBLeft5"
                  placeholder="mm" formControlName="expMonth" min="1" max="12"
                  [ngClass]="{ 'is-invalid': submitted && f.expMonth.errors }">
                <!-- <div *ngIf=" submitted && f.expMonth.errors" class="red-alert pt-1 mb-2">
                                    {{ 'errors.expMonth' | translate }} </div> -->
              </div>
              <div class="col-4 px-0">
                <input type="number" class="form-control cardInput2" placeholder="yyyy" formControlName="expYear"
                  min="2020" max="2040" [ngClass]="{ 'is-invalid': submitted && f.expYear.errors }">
                <!-- <div *ngIf=" submitted && f.expYear.errors" class="red-alert pt-1 mb-2">
                                    {{ 'errors.expYear' | translate }} </div> -->
              </div>
              <div class="col-5 px-0">
                <input type="number" class="form-control cardInput2 brdrBRight5" placeholder="cvv (123)"
                  formControlName="cvv" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }">
                <!-- <div *ngIf=" submitted && f.cvv.errors" class="red-alert pt-1">
                                    {{ 'errors.cvcError' | translate }} </div> -->
              </div>
            </div>
          </div>


          <div class="row form-group my-0">
            <div class="col-3 col-sm-12 px-0">
              <div *ngIf=" submitted && f.expMonth.errors" class="red-alert">
                {{ 'errors.expMonth' | translate }} </div>
            </div>
            <div class="col-4 col-sm-12 px-0">
              <div *ngIf=" submitted && f.expYear.errors" class="red-alert">
                {{ 'errors.expYear' | translate }} </div>
            </div>
            <div class="col-5 col-sm-12 px-0">
              <div *ngIf=" submitted && f.cvv.errors" class="red-alert">
                {{ 'errors.cvcError' | translate }} </div>
            </div>
          </div>

          <div class="red-alert" *ngIf="cardNoError">
            {{ 'errors.onlyCardDigits' | translate }} </div>
          <div *ngIf=" submitted && f.number.errors" class="red-alert">
            {{ 'errors.cardNumError' | translate }} </div>

          <div class="form-group my-0">
            <label for="pwd"> {{ 'payments.cardName' | translate}}</label>
            <input type="text" class="form-control w-100 brdr5 shadowDiv" placeholder="ABC" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          </div>
          <div *ngIf=" submitted && f.name.errors" class="red-alert">
            {{ 'errors.cardNameError' | translate }} </div>

        </form>

        <div class="row mt-3" *ngIf="service.activeBeach.beachInfo.paidOnSpot">
          <div class="col-sm-12">
            <div class="payBtn d-flex justify-content-around">
              <p class="my-0">{{'payments.paidText' | translate}}</p>
            </div>
          </div>
        </div>



        <button type="button" class="btn yellowBg w-100 mt-4 mb-2" (click)="addCardPayment()">
          {{ 'payments.pay' | translate}}
          {{ service.activeBeach?.beachInfo?.paidOnSpot ? serviceFee : service.totalPrice + serviceFee || '0' | number:'1.2-2'}}€ 
        </button>

      </div>
    </div>

  </div>
</div>

<!-- <div class="footerClass">
    <app-footer></app-footer>
</div> -->