label{
    margin-bottom: 3px !important;
}
.mainCont{
    min-height: 88.8vh !important;
}
.clrWhite{
    h1, h2, h3, h4, h5, h6, p{
        color: white !important;
    }
    hr{
        border-color: white !important;
    }
}
.yellowBg{
    background-color: #FED12F !important;
    border-color: #FED12F !important;
    color: white !important;
    font-weight: bolder !important;
    border-radius: 5px;
  }

.seatBg{
    background: white; 
    text-align: center;
    width: fit-content;
    padding: 2px 12px;
    border-radius: 5px;
}

input{
    border-radius: 0px !important;
   
}

.shadowDiv{
    box-shadow: 0 .5px 4px 0 rgb(32 33 36 / 28%);
}
.brdr5{
    border-radius: 5px !important;
}
.brdrTop5{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: none !important;
}

.brdrBLeft5{
    border-bottom-left-radius: 5px !important;
    border-right: none !important;
}

.brdrBRight5{
    border-bottom-right-radius: 5px !important;
    border-left: none !important;
}
// .cardInput2{
//     border-right: 0px;
// }

.cardsDiv{
    text-align: right; 
    right: 0px;  
    z-index: 999;
    position: absolute;
    top: 5px;
}

@media only screen and (max-width: 576px) {
    .cardsDiv{
        display: none;
    }

}

@media only screen and (max-width: 3000px) and (min-width: 1400px){
    .mainCont{
        min-height: 100vh !important;
    }
}

.payBtn{
    p{
      line-height: 1 !important;
      font-size: 10px !important;
    }
  }

  
.custom-switch
{
  padding-left: 20px;
  margin-top: 0px;
  width: 80px;
}
.custom-switch .custom-control-label::after {
  top: calc(.25rem + -1.5px);
  left: calc(-2.25rem + -2px);
  width: calc(2.2rem - 4px);
  height: 31px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 2rem;
}
.custom-switch .custom-control-label::before {
  left: -2.35rem;
  width: 4rem;
  height: 30px;
  border-radius: 2rem;
  border-color: gray;
  background-color: gray;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  transform: translateX(2.25rem);
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #FED12F;
  background-color: #FED12F;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}