<app-header></app-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <video id="video" width="100%" height="100%" style="object-fit: cover;" src="/assets/imgs/videoShort3C.mp4" autoplay
        loop></video>
</div>
<div class="bgCont WhiteOverlay">
    <div class="row justify-content-center inputCont">
        <div class="col-md-4 col-sm-6 col-11">
            <form [formGroup]="signupForm" class="form-div">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="{{ 'login.firstName' | translate }}"
                        formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf=" submitted && f.firstName.errors" class="red-alert pl-3">
                        {{ 'errors.firstNameError' | translate }} </div>
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="{{ 'login.lastName' | translate }}"
                        formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf=" submitted && f.lastName.errors" class="red-alert pl-3">
                        {{ 'errors.lastNameError' | translate }} </div>
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="{{ 'login.phoneNum' | translate }}"
                        formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                    <div *ngIf=" submitted && f.phoneNo.errors" class="red-alert pl-3">
                        {{ 'errors.phoneError' | translate }} </div>
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="{{ 'login.mailAddress' | translate }}"
                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf=" submitted && f.email.errors" class="red-alert pl-3">
                        <div *ngIf="f.email.errors.required">{{ 'errors.emailError' | translate }}</div>
                        <div *ngIf="f.email.errors.pattern">{{ 'errors.emailPattern' | translate }}</div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="******" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf=" submitted && f.password.errors" class="red-alert pl-3">
                        {{ 'errors.passwordError' | translate }} </div>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="******" formControlName="c_password"
                        [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }">
                    <div *ngIf=" submitted && f.c_password.errors" class="red-alert pl-3">
                        {{ 'errors.cPassError' | translate }} </div>
                    <div *ngIf=" !checkPassword()" class="red-alert pl-3"
                        style="margin-top: 0px !important; padding-left: 23px; font-size: 12px;">
                        {{ 'errors.passwordNotSame' | translate }}
                    </div>
                </div>

                <button (click)="submitSignupForm()" class="btn custBtn btn-block">{{ 'login.signup' |
                    translate}}</button>
            </form>
        </div>
        <div class="col-md-12 col-sm-12 col-12 text-center">

        </div>
        <div class="col-md-4 col-sm-6 col-11 text-center">
            <p routerLink="/login" class="mt-4 pointer"> {{ 'login.alreadyAccount' | translate}} </p>
        </div>
    </div>


</div>