/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

.container {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.container-fuild {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}
body
{
   // font-family: 'Quicksand', !important; 
    font-family: 'Quicksand', sans-serif !important;
   // font-family: 'quicksand' ; 
}
@font-face {
    font-family: quicksand;
    src: url(assets/Quicksand/Quicksand-VariableFont_wght.ttf) format("opentype");
  }

.font-bold{
    font-weight: bold;
}
.fw500
{
    font-weight: 500 !important;
}
.fw600
{
    font-weight: 600 !important;
}
.fw700
{
    font-weight: 700 !important;
}
.row {
    width: 100% !important;
    margin-left: 0px !important;
}
.pointer {
    cursor: pointer !important;
} 
.font-18{
    font-size: 18px !important;
}
.font-15{
    font-size: 15px !important;
}
.font-14
{
    font-size: 14px;
}
.font-13
{
    font-size: 13px !important;
}
.font-24{
    font-size: 24px;
}
.font-12
{
    font-size: 12px;
}
.font-20{
    font-size: 20px;
}
.appTxt
{
    font-size: 13px !important;
}
.font-20{
    font-size: 20px;
}
.f-left{
    float: left;
}
.primary {
    color: #3cc78f !important;
}
.secondary {
    color: #191d34 !important;
}
.bg-secondary{
    background-color: #191d34 !important;
}
.bg-primary {
    background-color: #3cc78f !important;
}
.bgYellow {
    background-color: #FED12F !important;
    border-color: #FED12F !important;
    color: white !important;
    // img{
    //     filter: brightness(100);
    // }
   
}
.blueBtn
{
    background-color: #364393;
    border-color: #364393;
    color: white;
}
.blueBtn:hover
{
    color: white;
}
.no-border
{
    border: 0px !important;
}
// .mainCont
// {
//     padding-top: 2em;
//     padding-bottom: 2em;
// }

.modal-header,.modal-footer
{
    border: 0px;
}

.myModal {
    max-width: 430px !important;
  }
textarea
{
    resize: none;
}
.myModal input, .myModal textarea
{
  border-color: #6c757d!important;
}
.badge-secondary
{
  background-color: #364393;
}
.card,div:focus
{
    outline: none;
}
.red-alert{
    color: red;
    font-size: 12px !important;
}

// .btn:hover {
//     box-shadow: 0 .5rem 1rem black !important;
//   }
.btn:hover {
    border-color: black !important;
    background-color: black !important;
    color: white !important;
    // img{
    //     filter: brightness(100) !important;
    // }
  }

//   .hoverBtn {
//     box-shadow: 0 .5rem 1rem black !important; 
//   }

  .pointer{
      cursor: pointer !important;
  }

  a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gm-bundled-control .gmnoprint {
    display: block;
}
// .gmnoprint:not(.gm-bundled-control) {
//     display: none;
// }

.gmnoprint a, .gmnoprint span, .gm-style-cc, .gmnoprint .gm-svpc {
    display:none !important;
}
// .gmnoprint div {
//     background:none !important;
// }

  .brder-radius30{
      border-radius: 30px !important;
  }

  .WhiteOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
    z-index: 2;
  }

  input::-webkit-calendar-picker-indicator{
    margin-left:0px !important
    }

    .btn, .gmnoprint{
        border-radius: 30px ;
    }

    input{
        border-radius: 30px !important;
    }

    .gmnoprint{
        div{
            border-radius: 30px !important;
        }
    }


    .pz-zoom-button{
        display: none;
    } 

    h1,h2,h3,h4,h5,h6, td, td p, label, li {
        color: #222222 !important;
      }
      
      p, input, textarea, p span, select{
        color: #717171 !important;
      }


.custom-autocomplete {

    .custom-autocomplete__dropdown{
        border-radius: 15px !important;
    }

    .custom-autocomplete__container .custom-autocomplete__input{
        input{
            width: 30vw !important;
            height: 36px !important;
            padding-right: 0px !important;
            box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
            border: none !important;
            }
    
            input:hover , input:focus {
                border: none !important;
                outline: none !important;
               .cross-icon{
                    display: none !important;
                    }
              }
        .search-icon{
            display: none !important;
            }
    }

    
} 


.ui-datepicker{
    z-index: 1022 !important;
    border-radius: 20px !important;
    top:58px !important;
    .ui-datepicker-header{
        border-radius: 15px !important;
    }
  }

      @media only screen and (max-width: 767.99px) {
        .custom-autocomplete .custom-autocomplete__container .custom-autocomplete__input{
            input{
                width: 88vw !important;
                }
        }
    }

    .cdk-overlay-container {
        z-index: 9999999 !important;
      }


   .owl-dt-container, .owl-dt-popup-container {
    border-radius: 20px !important;

    .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
        color: rgba(255,255,255,.85);
        background-color: #FED12F;
    }

    }



    // header two
    .header2{
        .dateBtnPicker{
            // width: unset !important;
            height: 40px;
        }
    }
    .locationCont{
        .custom-autocomplete .custom-autocomplete__container .custom-autocomplete__input input{
            width: 20vw !important;
        }
    }

    @media screen and (max-width: 1190px) and (min-width: 1020px) {
  
    }
    
    @media only screen and (max-width: 576px) {
        .header2{
            .locationCont .custom-autocomplete .custom-autocomplete__container .custom-autocomplete__input input{
                width: 88vw !important;
            }
            .dateBtnPicker{
                width: 100% !important;
            }
            .langBtn{
                width: unset !important;
            }
        }
    
    }



    //     .mainCont{
    //     padding-top: 70px !important;
    //     min-height: 87.4vh !important;
    // }

    .mainCont{
        min-height: 87.4vh !important;
        height:auto;
        max-height:100%;
    }

    .footerSection{
        // position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
    }