.mainCont {
 // padding: 70px 0px 0px 20px;

  .btnsCont {
    .tagBtn {
      background-color: #ffffff;
      border-color: #ffffff;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
      height: 48px;
      justify-content: center;
      border-radius: 30px;
      padding: 0px 15px;
      display: inline-flex;
      align-items: center;

      font-size: 12px;
      margin: 0px 12px 16px 0px;

      img {
        float: left;
        height: 29px;
        margin-right: 12px;
      }
    }


    .addfilterBtn {
      background-color: #000000;
      border-color: #000000;
      color: #ffffff;

      i {
        float: left;
        font-size: 18px;
        margin-right: 15px;
      }
    }
  }



  .placeCard {
    margin-top: 15px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

    .wishIcon {
      position: absolute;
      cursor: pointer;
      top: 13px;
      right: 15px;
      z-index: 121;
      color: #000000;
      font-size: 22px;
    }

    .placeImg {
      width: 100%;
      height: 180px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

.bgCont {
  background: url("/assets/imgs/map.png") center center no-repeat;
  height: 100vh;
  background-size: contain;
  position: fixed;
  right: 0px;
  top: 0px;
  max-width: 32%;
}

.plr30{
  padding-left: 32px;
}



@media only screen and (max-width: 767.99px) {
  .placeImg {
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
 
}

@media only screen and (max-width: 576px) {
  .mainCont {
    padding: 0px;

    .txtCont {
      //padding-left: 15px !important;
      padding-top: 25px !important;

      .placeCard {
        h5 {
          font-size: 18px;
        }

        .wishIcon {

          font-size: 19px;
        }

        .placeImg {
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }

  .plr30{
    padding-left: 21px !important;
    padding-right: 21px !important;
  }

  .bgCont {
    position: unset;
    height: 30vh;
    background-size: cover;
    max-width: 100%;
    margin: 20px 15px;
    border-radius: 10px;
  }

  .placeImg{
    height: 180px !important;
  }
}

::-webkit-scrollbar {
  display: none ;
  }

  .visitBtn {
    width: 8vw;
    padding: 3px 0px;
    background-color: #FED12F;
    border-color: #FED12F;
    box-shadow: 0 1px 6px 0 #20212447;
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
  }

  .tagMapBtn{
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 30px;
    justify-content: center;
    border-radius: 30px;
    padding: 0px 15px;
    align-items: center;
    font-size: 13px;
    position: absolute; 
    top:70px; 
    right: 10px;
     z-index: 999;
  }


  .filters {
    display: inline-block;
    img {
      height: 25px;
    }
  }

 