<app-header></app-header>
<div class="row mainCont">
  <div class="col-sm-8 txtCont pt-4 plr30 pb-2" id="scollContentDiv1" style="overflow-y: scroll; min-height: 73vh; ">
    <h4 class="font-bold mb-4">{{ 'home.privateBeaches' | translate}}: {{service.userLocation.city}}</h4>
    <div class="btnsCont">

      <button class="btn tagBtn" [class.bgYellow]="filters.bar" (click)="getFilteredBeaches('bar')">
        <img [src]=" filters.bar ? '/assets/imgs/bar-icon1.svg' : '/assets/imgs/bar-icon.svg'">
        <span>{{ 'home.bar' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.parking" (click)="getFilteredBeaches('parking')">
        <img [src]=" filters.parking ? '/assets/imgs/parking-icon1.svg' : '/assets/imgs/parking-icon.svg'">
        <span>{{ 'home.parking' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.swimmingPool" (click)="getFilteredBeaches('swimmingPool')">
        
        <img [src]=" filters.swimmingPool ? '/assets/imgs/piscine-icon1.svg' : '/assets/imgs/piscine-icon.svg'">
        <span>{{ 'home.pool' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.restaurant" (click)="getFilteredBeaches('restaurant')">
        <img [src]=" filters.restaurant ? '/assets/imgs/rest-icon1.svg' : '/assets/imgs/rest-icon.svg'">
        <span>{{ 'home.restaurant' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.shower" (click)="getFilteredBeaches('shower')">
        <img [src]=" filters.shower ? '/assets/imgs/shower-icon1.svg' : '/assets/imgs/shower-icon.svg'">
        <span>{{ 'home.shower' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.wifi" (click)="getFilteredBeaches('wifi')" *ngIf="moreFilters">
        <img [src]=" filters.wifi ? '/assets/imgs/wifi-icon1.svg' : '/assets/imgs/wifi-icon.svg'">
        <span>{{ 'home.wifi' | translate}}</span>
      </button>
      <button class="btn tagBtn" [class.bgYellow]="filters.wc" (click)="getFilteredBeaches('wc')" *ngIf="moreFilters">
        <img [src]=" filters.wc ? '/assets/imgs/wc-icon1.svg' : '/assets/imgs/wc-icon.svg'">
        <span>{{ 'home.wc' | translate}}</span>
      </button>
      <button class="btn tagBtn addfilterBtn" (click)="toggleMoreFilters()">
        <span *ngIf="!moreFilters"><i class="fas fa-plus"></i> {{ 'home.plus' | translate}}</span>
        <span *ngIf="moreFilters"><i class="fas fa-minus"></i> {{ 'home.minus' | translate}}</span>
      </button>

    </div>

    <div class="card placeCard" *ngFor="let beach of service.beachesList; let i=index">

      <div class="row">
        <div class="col-md-5 px-0">
          <img src=" /assets/imgs/place1.png" class="placeImg"
            *ngIf="!beach.beachInfo || !beach.beachInfo.images || !beach.beachInfo.images.length">

          <div [id]="'demo'+i" class="carousel topSlider slide carousel-fade" style="border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;" data-ride="carousel" data-interval="400000"
            *ngIf="beach.beachInfo && beach.beachInfo.images && beach.beachInfo.images.length">


            <div class="carousel-inner">
              <div *ngFor="let image of beach.beachInfo.images; index as i" [class.active]="i==0"
                class="carousel-item text-center">
                <img class="placeImg" [src]="image">
              </div>

            </div>
            <a class="carousel-control-prev" [href]="'#demo'+i" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">{{ 'home.previous' | translate}} </span>
            </a>
            <a class="carousel-control-next" [href]="'#demo'+i" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">{{ 'home.next' | translate}} </span>
            </a>
          </div>

        </div>
        <div class="col-md-7">

          <div class="txt">
            <h5 class="mt-1 mb-0 pointer" [routerLink]="['/place-detail',beach.beachId]" style="outline: none !important;">
              {{i+1}}. {{beach.beachName}} </h5>
            <p class="my-0" style="font-size: small !important;">{{beach.address}}</p>

            <p class="mb-0 font-13" *ngIf="beach.beachInfo"> {{ 'beach.weekday' | translate}}:
              {{ service.changeTimeFormat(beach.beachInfo.weekDayMorning)}} -
              {{ service.changeTimeFormat(beach.beachInfo.weekDayAfternoon)}}</p>

            <p class="mb-0 font-13" *ngIf="beach.beachInfo"> {{ 'beach.weekend' | translate}}:
              {{ service.changeTimeFormat(beach.beachInfo.weekEndMorning)}} -
              {{ service.changeTimeFormat(beach.beachInfo.weekEndAfternoon)}}</p>

            <div class="filters" *ngIf="beach.beachInfo">
              <img class="m-1" src="/assets/imgs/bar-icon.svg" *ngIf="beach.beachInfo.bar">
              <img class="m-1" src="/assets/imgs/parking-icon.svg" *ngIf="beach.beachInfo.parking">
              <img class="m-1" src="/assets/imgs/piscine-icon.svg" *ngIf="beach.beachInfo.swimmingPool">
              <img class="m-1" src="/assets/imgs/rest-icon.svg" *ngIf="beach.beachInfo.restaurant">
              <img class="m-1" src="/assets/imgs/shower-icon.svg" *ngIf="beach.beachInfo.shower">
              <img class="m-1" src="/assets/imgs/wifi-icon.svg" *ngIf="beach.beachInfo.wifi">
              <img class="m-1" src="/assets/imgs/wc-icon.svg" *ngIf="beach.beachInfo.wc">
            </div>

            <p class="my-0 fw500 font-13" style="color: red !important" *ngIf="!beach.seatMaps">
              {{ 'home.noSeat' | translate}} 
              <strong>{{service.homeDate | date:'mediumDate'}}</strong>
            </p>
            <p class="my-0 fw500 font-13" style="color: green !important;" *ngIf="beach.seatMaps">
              {{ 'home.seat' | translate}}
              <strong>{{service.homeDate | date:'mediumDate'}}</strong>
            </p>
          </div>
          <p class="my-0 font-bold" style="align-self: center;">At {{beach.distance | number }} Km</p>

        </div>
      </div>



    </div>

  </div>
  <div class="col-sm-4 pr-0">

    <agm-map #gm id="mapSunSpotId" style="width: 100%; height: 100%;" [zoom]="11" [minZoom]="0" [maxZoom]="17"
      [restriction]="mapOptions" [latitude]="service.userLocation.lat" [longitude]="service.userLocation.lng"
      [styles]="mapStyles">
      <agm-marker *ngFor="let beach of service.beachesList; let i=index" [latitude]="beach.latitude"
        [longitude]="beach.longitude" [iconUrl]=" { url: '/assets/imgs/map-icon.svg' }">
        <agm-info-window>
          <div class="ion-text-center">
            <h6 class="mt-0 mb-1">{{i+1}}. {{beach.beachName}}</h6>
            <button class="btn visitBtn" (click)="visitBeach(beach.beachId)">{{'home.visitBeach' | translate}}</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>

  </div>
</div>

<app-footer></app-footer>