<app-header></app-header>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <video id="video" width="100%" height="100%" style="object-fit: cover;" src="/assets/imgs/videoShort3C.mp4" autoplay
        loop></video>
</div>
<div class="bgCont WhiteOverlay">

    <div class="row justify-content-center inputCont">
        <div class="col-md-4 col-sm-6 col-11">
            <form [formGroup]="passwordForm" class="form-div">
                <h5 class="text-center mt-3" style="font-weight: 500!important;">
                    {{ 'login.forgetPassword' | translate }}</h5>
                <p class="text-center mb-5 m-3">{{ 'login.fPassDesc' | translate }}</p>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="{{ 'login.enterEmail' | translate }}"
                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf=" submitted && f.email.errors" class="red-alert pl-3">
                        <div *ngIf="f.email.errors.required">{{ 'errors.emailError' | translate }}</div>
                        <div *ngIf="f.email.errors.pattern">{{ 'errors.emailPattern' | translate }}</div>
                    </div>

                </div>

                <button (click)="resetPassword()" class="btn custBtn btn-block mb-4" style="cursor: pointer;">
                    {{ 'login.sendLink' | translate }}</button>

                <button routerLink="/login" class="btn custBtn blackBtn btn-block">
                    {{ 'login.goBack' | translate }}</button>
            </form>
        </div>
    </div>

</div>