
.bgCont {
   // background: url("/assets/imgs/loginBg.png") center center no-repeat;
  //  min-height: 100vh;
   // background-size: cover;
    display: grid;
    align-items: center;
  //  padding-bottom: 47px;
    padding-top: 50px;
  
    .inputCont {
  
      .form-control {
        height: calc(1.5em + .85rem + 2px);
        border-radius: 30px;
        border: 0px;
        text-align: center;
        font-size: 16px;
       // font-weight: 500;
        color: #000000;
        background-color: transparent;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
      }
  
      // input::placeholder {
      //   color: #000000;
      // }
    }
  
    .custBtn {
      padding: 0px;
      height: 45px;
      background-color: #FED12F;
      border-color: #FED12F;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
      color: #ffffff;
      border-radius: 30px;
      font-weight: bold;
      font-size: 16px;
    }
  
    .blackBtn {
      background-color: #000000 !important;
      border-color: #000000 !important;
      font-size: 15px;
    }
  
    input {
      background: white !important;
     // font-weight: 900 !important;
      color: black !important;
  }
  }
  
  
  
  @media only screen and (max-width: 576px) {
  }
  